.page-header
  %h1= t('.title')

- if @delivery_loads.empty?
  .alert.alert-danger{role: 'alert'}
    = t '.empty_load'

%table.table.table-striped
  %thead
    %tr
      %th= sort_link(@q, :id)
      %th= sort_link(@q, :date)
      %th= sort_link(@q, :delivery_shift)
      %th=t '.orders_count'
      %th=t 'helpers.actions'
  %tbody
    - @delivery_loads.each do |delivery_load|
      %tr
        %td= delivery_load.id
        %td=l delivery_load.date, format: :date_only
        %td= delivery_load.delivery_shift
        %td= delivery_load.orders.count
        %td
          = link_to edit_delivery_load_path(delivery_load.id) do
            %i.glyphicon.glyphicon-save
