!!!
%html
  %head
    %title Task
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    %nav.navbar.navbar-default
      .container-fluid
        .collapse.navbar-collapse
          -if signed_in?
            %ul.nav.navbar-nav.navbar-left
              %li= link_to t('.schedule_import'), new_schedule_path, class: 'btn' if current_user.can_read? ScheduleType
              %li= link_to t('.orders'), orders_path, class: 'btn' if current_user.can_read? Order
            %ul.nav.navbar-nav.navbar-right
              %li= link_to t('.sign_out'), session_path, method: :delete, class: 'btn'
    .container
      = bootstrap_flash
      = yield
